{% url 'home' as home %}
{% url 'daily_tasks' as daily_task %}
{% url 'missions' as missions %}
{% url 'quests' as quests %}
{% url 'rewards' as rewards %}
{% load navbar %}

{% block navbar %}
    <div class="page-header">
        <ul class="nav nav-pills pull-right">
        {% if user.is_authenticated %}
            <li class="{% active request home %}"><a href="/">Home</a></li>
            <li class="{% active request daily_task %}"><a href="/daily-tasks/">Daily Tasks</a></li>
            <!--
            <li class="{% active request missions %} disabled"><a href="/missions/">Missions</a></li>
            <li class="{% active request quests %} disabled"><a href="/quests/">Quests</a></li>
            <li class="{% active request rewards %} disabled"><a href="/rewards/">Rewards</a></li>
            -->
            <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}
            <li><a href="/accounts/login/">Login</a></li>
        {% endif %}
        </ul>
        <h2 class="text-muted"><a href="/">FitBucks</a></h2>
    </div>
{% endblock %}