{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <style>
        .submit_buttons {
            margin-top: 35px;
        }
        .datepicker {
            padding: 0px !important;
            margin: 0 auto;
        }
        .datepicker-days {
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
            background-repeat: repeat-x;
            border-color: #9acfea;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #31708f;
            background-color: #d9edf7;
        }
        .asteriskField {
            display: none;
        }
        #update_steps {
            margin-right: 19px;
        }
        label div {
            display: inline;
        }
        .icon-skull {
            color: #d00000;
        }
        .icon-moneybag {
            color: #85BB65;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <h4 class="text-center">Choose A Date</h4>
                <div id="datepicker"></div>
                <hr />
            </div>
            <div class="row">
                
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="text-center">
                    <h3>Log Your Daily Tasks</h3>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div>
                {% crispy form %}
                </div>
            </div>   
        </div>
    </div>
{% endblock %}
{% block courtesy %}
    Glyphs courtesy of 
    <a target="_blank" href="http://www.webhostinghub.com/glyphs/#top" >
    WebHostingHub Glyphs
    </a>
{% endblock %}
{% block js %}
    <script src="{% static "/static/js/fitbucks.js" %}"></script>
    <script>
        $(document).ready(function () {       
            init_datepicker();
            init_stats_form();
            
        });
        $('#id_steps').attr('disabled', true);
    </script>
{% endblock %}