{% extends 'base.html' %}
{% block title %}FitBucks - Password Change Complete{% endblock %}

{% block container %}
    <div class="row">
        {% include "accounts/settings-sidebar.html" %}
    
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <div class=>
                    <h3>Password Change Complete</h3>
                    <p>
                        The password for your FitBucks account has been changed.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
